::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(168, 85, 247, 0.25);
}